<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                      {{ if isset .Params "id" }}
                        {{ partial .Params.id . }}
                      {{ else }}
                        {{ .Content }}
                      {{ end }}
                    </div>
                    <div class="col-md-4">
                    {{ if eq .Type "services" }}
                      {{ partial "services-nav.html" . }}
                    {{ end }}
                    </div>
                  </div>
            </div>
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
