.box-simple {
    margin-bottom: 75px;
    h3 {
        font-size: 1.3em;
        margin-top: 0;
    }
    hr {
        width: 60%;
        border-top: 1px solid #e9732f;
    }
    p {
        line-height: 1.7;
    }
}