header {
    .navbar {
        min-height: 145px;
        .navbar-header {
            .navbar-brand {
                img {
                    max-width: 380px;
                    height: auto;
                }
            }
        }
        .navbar-collapse {
            ul {
                margin-top: 4rem;
                li {
                    a {
                        text-decoration: none;
                        &.active {
                            border-top: solid 5px #e9732f;
                        }
                        &:hover {
                            background: none;
                        }
                    }
                }
            }
        }
    }
}